{% extends "layout.html" %}

{% block title %}add team{% endblock %}
{% block content %}
<form method='POST'>
<div class="field">
  <label class="label">Add Team Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. Manchester City"  value="{{team_name}}" name="team_name">
  </div>
</div>

<div class="field">
  <label class="label">Add NickName</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. City Girls"  value="{{NickName}}" name="NickName">
  </div>
</div>
<div class="field">
  <label class="label">Add ShortName</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. MC"  value="{{ShortName}}" name="ShortName">
  </div>
</div>

<div class="field">
  <label class="label">Add FoundationDate</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. 1923"  value="{{FoundationDate}}" name="FoundationDate">
  </div>
</div>

<div class="field">
  <label class="label">Add Capacity</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. 19232"  value="{{Capacity}}" name="Capacity">
  </div>
</div>

<div class="field">
  <label class="label">Add ManagerID</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. ManagerID"  value="{{ManagerID}}" name="ManagerID">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
{% endblock %}