{% extends "layout.html" %}

{% block title %}add team{% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>
<br><br>
<h1 class="title">ADD TEAM</h1>

<form method='POST'>
<div class="field">
  <label class="label">Add Team Name</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Manchester City"  value="{{Teamname}}" name="Teamname" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add NickName</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. City Girls"  value="{{NickName}}" name="NickName" maxlength="30">
  </div>
</div>
<div class="field">
  <label class="label">Add ShortName</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. MC"  value="{{ShortName}}" name="ShortName" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add FoundationDate</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. 1923"  value="{{FoundationDate}}" name="FoundationDate" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add Location</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Sivas"  value="{{Location}}" name="Location" maxlength="50">
  </div>
</div>

<div class="field">
    <label for="Name" class="label">Select Manager</label>
    <div class="select">
    <select  value="{{ManagerID}}" name="ManagerID">
        {% for row in cursor %}
      <option value="{{row[0]}}">{{row[1]}}</option>
        {% endfor %}
    </select>
  </div>
  </div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
{% endblock %}