{% extends "layout.html" %}

{% block title %}add standings {% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>
<br><br>
<h1 class="title">ADD STANDINGS</h1>


<form method='POST'>
<div class="field">
  <label for="PlayerName" class="label">Team</label>
  <div class="select">
        <select  value="{{TeamID}}" name="TeamID">
          {% for row in cursor %}
          <option value="{{row[0]}}">{{row[1]}}</option>
          {% endfor %}
      </select>
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">Played</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 3"  value="{{Played}}" name="Played" min="0">
  </div>
</div>

<div class="field">
  <label for="TeamID" class="label">Won</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 4"  value="{{Won}}" name="Won" min="0">
  </div>
</div>

<div class="field">
    <label for="TeamID" class="label">Drawn</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 2"  value="{{Drawn}}" name="Drawn" min="0">
    </div>
  </div>

<div class="field">
  <label for="TeamID" class="label">Lost</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 4"  value="{{Lost}}" name="Lost" min="0">
  </div>
</div>

<div class="field">
    <label for="TeamID" class="label">Goals_for</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 4"  value="{{Goals_for}}" name="Goals_for" min="0">
    </div>
  </div>

<div class="field">
    <label for="TeamID" class="label">Goals_against</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 4"  value="{{Goals_against}}" name="Goals_against" min="0">
    </div>
  </div>



<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
{% endblock %}