{% extends "layout.html" %}

{% block title %}add REFEREE {% endblock %}
{% block content %}

<h1 class="title">ADD REFEREE</h1>


<form method='POST'>
<div class="field">
  <label for="PlayerName" class="label">RefereeName</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. John Walkie "  value="{{RefereeName}}" name="RefereeName" maxlength="20">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">Age</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 40"  value="{{Age}}" name="Age" min="18">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">TotalMatch</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 12"  value="{{TotalMatch}}" name="TotalMatch" min="0">
  </div>
</div>

<div class="field">
  <label for="TeamID" class="label">TotalRedCard</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 87"  value="{{TotalRedCard}}" name="TotalRedCard" min="0">
  </div>
</div>

<div class="field">
    <label for="TeamID" class="label">TotalYellowCard</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 82"  value="{{TotalYellowCard}}" name="TotalYellowCard" min="0">
    </div>
  </div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
{% endblock %}