{% extends "layout.html" %}

{% block title %}add Manager{% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>
<br><br>
<h1 class="title">ADD Manager</h1>

<button class="button is-primary is-small" onclick="document.getElementById('Age').innerHTML = getRndInteger(20,85)">Get Random Age</button>
<p id="Age"></p> 
<button class="button is-danger is-small " onclick="document.getElementById('Height').innerHTML = getRndInteger(125,225)">Get Random Height</button>
<p id="Height"></p>

<form method='POST'>
<div class="field">
  <label for="PlayerName" class="label">Manager Name</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Umut Bulut"  value="{{Name}}" name="Name" maxlength="30">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">Manager Age</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 66"  value="{{Age}}" name="Age" min="20" max="85">
  </div>
</div>
<div class="field">
  <label for="PlayerAge" class="label">Manager Nationalty</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Turkey"  value="{{Nationalty}}" name="Nationalty" maxlength="30">
  </div>
</div>
<div class="field">
  <label for="PlayerAge" class="label">Manager Height</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 166"  value="{{Height}}" name="Height" min="125" max="225">
  </div>
</div>
<div class="field">
  <label for="PlayerAge" class="label">Manager PlaceOfBirth</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Sivas"  value="{{PlaceOfBirth}}" name="PlaceOfBirth" maxlength="30">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>

<script>
  function getRndInteger(min, max) {
    return Math.floor(Math.random() * (max - min + 1) ) + min;
  }
  </script>
{% endblock %}