{% extends "layout.html" %}

{% block title %}add Statistic {% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>
<br><br>
<h1 class="title">ADD Statistic</h1>


<form method='POST'>
<div class="field">
  <label for="PlayerName" class="label">MatchID</label>
  <div class="select">
    <select  value="{{MatchID}}" name="MatchID">
        {% for row in cursor[1] %}
      <option value="{{row[0]}}">{{row[0]}}</option>
        {% endfor %}
    </select>
  </div>
</div>

<div class="field">
  <label for="TeamID" class="label">HPossesion</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 87"  value="{{HPossesion}}" name="HPossesion" maxlength="2">
  </div>
</div>

<div class="field">
  <label for="PlayerName" class="label">HCorner</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 3"  value="{{HCorner}}" name="HCorner">
  </div>
</div>
  
<div class="field">
<label for="TeamID" class="label">HFoul</label>
<div class="control">
  <input required="required" class="input" type="number" placeholder="e.g. 7"  value="{{HFoul}}" name="HFoul" >
</div>
</div>

<div class="field">
  <label for="PlayerName" class="label">HOffside</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 3"  value="{{HOffside}}" name="HOffside">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">HShot</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 1"  value="{{HShot}}" name="HShot">
  </div>
</div>
    
<div class="field">
<label for="TeamID" class="label">HShotOnTarget</label>
<div class="control">
  <input required="required" class="input" type="number" placeholder="e.g. 7"  value="{{HShotOnTarget}}" name="HShotOnTarget">
</div>
</div>
<div class="field">
  <label for="PlayerName" class="label">HShotAccuracy</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 34"  value="{{HShotAccuracy}}" name="HShotAccuracy" maxlength="3">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">HPassAccuracy</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 12"  value="{{HPassAccuracy}}" name="HPassAccuracy" maxlength="3">
  </div>
</div>
 
<div class="field">
    <label for="PlayerName" class="label">APossesion</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 34"  value="{{APossesion}}" name="APossesion" maxlength="2">
    </div>
  </div>
  
<div class="field">
  <label for="PlayerAge" class="label">ACorner</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 2"  value="{{ACorner}}" name="ACorner">
  </div>
</div>
    
<div class="field">
  <label for="PlayerName" class="label">AFoul</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 4"  value="{{AFoul}}" name="AFoul">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">AOffside</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 2"  value="{{AOffside}}" name="AOffside">
  </div>
</div>

<div class="field">
  <label for="TeamID" class="label">AShot</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 8"  value="{{AShot}}" name="AShot">
  </div>
</div>

<div class="field">
    <label for="PlayerName" class="label">AShotOnTarget</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 3"  value="{{AShotOnTarget}}" name="AShotOnTarget">
    </div>
  </div>
  
  <div class="field">
    <label for="PlayerAge" class="label">AShotAccuracy</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 12"  value="{{AShotAccuracy}}" name="AShotAccuracy" maxlength="3">
    </div>
  </div>
  
  <div class="field">
    <label for="TeamID" class="label">APassAccuracy</label>
    <div class="control">
      <input required="required" class="input" type="number" placeholder="e.g. 87"  value="{{APassAccuracy}}" name="APassAccuracy" maxlength="3">
    </div>
  </div>
  
  <div class="field">
    <label for="PlayerName" class="label">Referee Name</label>
    <div class="select">
      <select  value="{{RefereeID}}" name="RefereeID">
          {% for row in cursor[0] %}
        <option value="{{row[0]}}">{{row[1]}}</option>
          {% endfor %}
      </select>
    </div>
  </div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
{% endblock %}