{% extends "layout.html" %}
{% block title %}Assists{% endblock %}
{% block content %}
<h1 class="title">Assists</h1>
<form action="" method="post" name="assist_list">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Player ID</th>
                    <th>Match ID</th>
                    <th>Minute</th>
                    <th>Last Touch</th>
                    <th>Format</th>
                    <th>Golden Assist</th>
                    <th>Stadium(Home/Away))</th>
                  </tr>
                  {% for row in cursor %}
                  <tr> 
                      <td>{{row[0]}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                      <td>{{row[5]}}</td>
                      <td>{{row[6]}}</td>
                      <td>{{row[7]}}</td>
                </tr>
                {% endfor %}
        </table>
</form>
{% endblock %}