{% extends "layout.html" %}
{% if current_user.is_admin %}
{% block title %}dashboard{% endblock %}
{% block content %}

<a class="button is-link" href="{{ url_for('team_adding_page') }}">Team Add</a>
<br><br><br>          
<a class="button is-link" href="{{ url_for('player_adding_page') }}">Player Add</a>
<br><br><br>
<a class="button is-link" href="{{ url_for('manager_adding_page') }}">Manager Add</a>
<br><br><br>
<a class="button is-link" href="{{ url_for('goal_adding_page') }}">Goal Add</a>
{% endblock %}
{% endif %}
