<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    
  </head>
  <body>
    <header>
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          LOG IN & LOG OUT
        </a>

        <div class="navbar-dropdown is-right">
         {% if not current_user.is_authenticated %}
            <a class="navbar-link" href="{{ url_for('login_page') }}">Log in</a>
            <hr class="navbar-divider">
          <div class="navbar-item">
            Welcome !
            </div>
          {% else %}
            {{ current_user.username }}
            <a class="navbar-link" href="{{ url_for('logout_page') }}">Log out</a>
            <hr class="navbar-divider">
          <div class="navbar-item">
            See You !
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

    </header>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer" style="text-align: center;">
      <div class="content">
        <small>& add smthng</small><br>
        <a class="button" href="/">home page</a>
      </div>
    </footer>
  </body>
</html>
