{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>

<script>
    var sayac=0;

    function say()
    {
      document.getElementById("Minute").innerHTML = sayac;
      if(sayac <=90) {
          sayac++;
        } else {
          document.getElementById("Minute").innerHTML = 'Match Finished';
        }
    }
</script>
<br><br>
<br>

<button class="button is-primary is-small" onclick="degisken=setInterval(say, 1000)">Start/Contiue</button>
<button class="button is-danger is-small " onclick="clearInterval(degisken)">Pause</button>

<form method='POST'>
    

  <p id="Minute"></p>

<h2 class="title">Fixture Update</h2>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
    <tr>
       
        <th>ID</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Home Score</th>
        <th>Away Score</th>
        <th>Week</th>
        <th>MatchDate</th>
        <th>Time </th>
        <th>Referee </th>
        <th>Status </th>

        <th></th>
      </tr>
      {% for row in cursor[0] %}
      <tr> 
         
          <td>{{row[0]}}</td>
          <td><a href="{{ url_for('team_page')}}/{{row[10]}}">{{row[1]}}</td></a>
          <td><a href="{{ url_for('team_page')}}/{{row[11]}}">{{row[2]}}</td></a>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[9]}}</td>
          {%if row[8]=='NOTSTARTED' %}
          <td style=""><div class="control"><button  class="button is-warning is-small " name="Start" value="{{row[0]}}">Start</button></div></td>
          {%endif%}
          {%if row[8] =='LIVE' %}
          <td style="color:red; font-weight: bold;"><div class="control"><button  class="button is-danger is-small " name="Live" value="{{row[0]}}">{{row[8]}}</button></div></td>
          {%endif%}
          {%if row[8] =='FINISHED' %}
          <td style="color:black; font-weight: bold;">{{row[8]}}</td>
          {%endif%}
          
          <td>
                <div class="control">
                <button class="button is-primary is-small" name="buttonName" value="{{row[0]}}">Update (FINISH MATCH)</button>
              </div>
            </td>
    </tr>
    {% endfor %}
</table>
<a class="button is-link" target="_blank" href="{{ url_for('standing_page') }}">Standing Update</a>
<a class="button is-link" target="_blank" href="{{ url_for('fixture_page') }}">Fixture Update (MATCH CONTNIUE)</a>
<a class="button is-link" target="_blank" href="{{ url_for('statistic_add_page') }}">Add Statistics</a>
<a class="button is-link" target="_blank" href="{{ url_for('detail_adding_page') }}">Add Detail</a>
<a class="button is-link" target="_blank" href="{{ url_for('goal_adding_page') }}">Add Goal</a>
<a class="button is-link" target="_blank" href="{{ url_for('assist_add_page') }}">Add Assist</a>
  
    <br><h2 class="title">Details</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%" >
        <tr>
           <th>Details</th>
           <th>Minute</th>
         </tr>
       {% for row in cursor[3] %}
       <tr>
           <td>{{row[1]}}</td>
           <td>{{row[2]}}</td>
         </td>
         </tr>
       
       {% endfor %}
       </table>
       <h2 class="title">Goals</h2>
       <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
           <tr>
       
              <th>Player</th>
              <th>Player's Team</th>
              <th>Minute</th>
            </tr>
          {% for row in cursor[4] %}
          <tr>
       
              <td><a href="{{ url_for('player_page')}}/{{row[6]}}">{{row[1]}}</td></a>
              <td><a href="{{ url_for('team_page')}}/{{row[7]}}">{{row[2]}}</td></a>
              <td>{{row[3]}}</td>
            </tr>
          
          {% endfor %}
          </table>
          
       <h2 class="title">Assists</h2>
       <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
           <tr>
               <th>Player Name</th>
               <th>Player's Team</th>
               <th>Minute</th>
               <th>Last Touch</th>
               <th>Format</th>
               <th>Golden Assist</th>
               <th>Stadium(Home/Away))</th>
               
             </tr>
             {% for row in cursor[5] %}
             <tr>
                   
                 <td><a href="{{ url_for('player_page')}}/{{row[8]}}">{{row[1]}}</td></a>
                 <td><a href="{{ url_for('team_page')}}/{{row[9]}}">{{row[2]}}</td></a>
                 <td>{{row[3]}}</td>
                 <td>{{row[4]}}</td>
                 <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>

           </tr>
           {% endfor %}
       </table>
       <h2 class="title">Players</h2>
       <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
          <tr>
          
              <th>ID</th>
              <th>Player Name</th>
              <th>Team</th>
              <th>Player Age</th>
      <th>Player Position</th>
      <th>Player Nationalty</th>
      <th>Player Height</th>
      <th>PlaceOfBirth</th>
        
            </tr>
          {% for row in cursor[2] %}
          <tr>
              
              <td>{{row[0]}}</td>
              <td><a href="{{ url_for('player_page')}}/{{row[0]}}">{{row[1]}}</td></a>
              <td><a href="{{ url_for('team_page')}}/{{row[10]}}">{{row[2]}}</td></a>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
             <td>{{row[6]}}</td>
             <td>{{row[7]}}</td>

            </td>
            </tr>
            {% endfor %}  
          </table>

</form>

  
{% endblock %}
