{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method='POST'>
    	{{ form.csrf_token }}
        Username:<br>
        {{ form.username(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='your username') }}
        Password:<br>
        {{ form.password(required=True, class='input is-large',
                                     placeholder='your password') }}
        <input type="submit" value="Submit"> 
    </form>
{% endblock %}
