{% extends "layout.html" %}
{% block title %}Managers{% endblock %}
{% block content %}

<h1 class="title">Managers</h1>
<form action="" method="post" name="manager_list">
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
 <tr>
    <th>Manager Name</th>
    <th>Manager Age</th>
    <th>Manager Nationalty</th>
    <th>Manager Height</th>
    <th>Manager PlaceOfBirth</th>
    <th>Team</th>
  </tr>
{% for row in cursor %}
<tr>  
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
    <td>{{row[4]}}</td>
    <td>{{row[5]}}</td>
    <td>{{row[6]}}</td>
  </tr>
  {% endfor %}
</table>


</form>
{% endblock %}

