{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<h1 class="title">Statistics</h1>
<form action="" method="post" name="Statistic_list">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Match ID</th>
                    <th>Home Score</th>
                    <th>Home Possesion</th>
                    <th>Home Corner</th>
                    <th>Home Injure</th>
                    <th>Home Foul</th>
                    <th>Home Offside</th>
                    <th>Home Shot</th>
                    <th>Home ShotOnTarget</th>
                    <th>Home ShotAccuracy</th>
                    <th>Home PassAccuracy</th>
                    <th>Away Score</th>
                    <th>Away Possesion</th>
                    <th>Away Corner</th>
                    <th>Away Injure</th>
                    <th>Away Foul</th>
                    <th>Away Offside</th>
                    <th>Awat Shot</th>
                    <th>Away ShotOnTarget</th>
                    <th>Away ShotAccuracy</th>
                    <th>Away PassAccuracy</th>
                    <th>Referee Name</th>
                  </tr>
                  {% for row in cursor %}
                  <tr> 
                      <td>{{row[0]}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                      <td>{{row[5]}}</td>
                      <td>{{row[6]}}</td>
                      <td>{{row[7]}}</td>
                      <td>{{row[8]}}</td>
                      <td>{{row[9]}}</td>
                      <td>{{row[10]}}</td>
                      <td>{{row[11]}}</td>
                      <td>{{row[12]}}</td>
                      <td>{{row[13]}}</td>
                      <td>{{row[14]}}</td>
                      <td>{{row[15]}}</td>
                      <td>{{row[16]}}</td>
                      <td>{{row[17]}}</td>
                      <td>{{row[18]}}</td>
                      <td>{{row[19]}}</td>
                      <td>{{row[20]}}</td>
                      <td>{{row[21]}}</td>
                      <td>{{row[22]}}</td>
                </tr>
                {% endfor %}
        </table>
</form>
{% endblock %}