{% extends "layout.html" %}

{% block title %}update team{% endblock %}
{% block content %}

<h1 class="title">Update Team</h1>

<form method='POST'>
<div class="field">
  <label class="label">Add Team Name</label>
  <div class="control">
      {% for row in cursor %}
    <input required="required" class="input" type="text" placeholder="e.g. Manchester City"  value="{{row[1]}}" name="Teamname" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add NickName</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. City Girls"  value="{{row[2]}}" name="NickName" maxlength="30">
  </div>
</div>
<div class="field">
  <label class="label">Add ShortName</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. MC"  value="{{row[3]}}" name="ShortName" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add FoundationDate</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. 1923"  value="{{row[4]}}" name="FoundationDate" maxlength="30">
  </div>
</div>

<div class="field">
  <label class="label">Add Capacity</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 19232"  value="{{row[5]}}" name="Capacity">
  </div>
</div>

<div class="field">
  <label class="label">Select ManagerID</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. ManagerID"  value="{{row[6]}}" name="ManagerID">
  </div>
</div>

<div class="field is-grouped">
    <div class="control">
      <button class="button is-link" name="Update" value="{{row[0]}}">Submit</button>
    </div>
  </div>
{% endfor %}
</form>
{% endblock %}