{% extends "layout.html" %}

{% block title %}update player{% endblock %}
{% block content %}

<h1 class="title">Update Player</h1>


<form method='POST'>
<div class="field">
  <label for="PlayerName" class="label">Player Name</label>
  <div class="control">
      {% for row in cursor %}
    <input required="required" class="input" type="text" placeholder="e.g. Umut Bulut"  value="{{row[1]}}" name="PlayerName">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">Player Age</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 66"  value="{{row[2]}}" name="PlayerAge">
  </div>
</div>

<div class="field">
  <label for="PlayerAge" class="label">Player Position</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. ST"  value="{{row[7]}}" name="Position">
  </div>
</div>

<div class="field">
  <label for="PlayerNationalty" class="label">Player Nationalty</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Turkey"  value="{{row[3]}}" name="PlayerNationalty">
  </div>
</div>

<div class="field">
  <label for="PlayerHeight" class="label">Player Height</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. 192"  value="{{row[4]}}" name="PlayerHeight">
  </div>
</div>

<div class="field">
  <label for="PlayerHeight" class="label">Player PlaceOfBirth</label>
  <div class="control">
    <input required="required" class="input" type="text" placeholder="e.g. Sivas"  value="{{row[6]}}" name="PlaceOfBirth">
  </div>
</div>

<div class="field">
  <label for="TeamID" class="label">Select TeamID</label>
  <div class="control">
    <input required="required" class="input" type="number" placeholder="e.g. TeamID"  value="{{row[5]}}" name="TeamID">
  </div>
</div>

<div class="field is-grouped">
    <div class="control">
      <button class="button is-link" name="Update" value="{{row[0]}}">Submit</button>
    </div>
  </div>
{% endfor %}
</form>
{% endblock %}