{% extends "layout.html" %}

{% block title %}Update Goal {% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('team_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('goal_page') }}">See All Goals</a>
<a class="button is-dark" href="{{ url_for('stadium_page') }}">See All Stadiums</a>
<a class="button is-dark" href="{{ url_for('assist_page') }}">See All Assists</a>
<a class="button is-dark" href="{{ url_for('statistic_page') }}">See All Statistics</a>
<a class="button is-dark" href="{{ url_for('standing_page') }}">See Standing</a>
<a class="button is-dark" href="{{ url_for('referee_page') }}">See Referee</a>
<a class="button is-dark" href="{{ url_for('fixture_page') }}">See Fixture</a>
<a class="button is-dark" href="{{ url_for('detail_page') }}">See Details</a>
<br><br>
<h1 class="title">Update Goal</h1>


<form method='POST'> 
<div class="field">
    <label for="PlayerID" class="label">Select Player</label>
    <div class="select">
        <select  value="{{PlayerID}}" name="PlayerID">
            {% for Player in cursor[1] %}
            {% if Player[0] == cursor[0][0][1]: %}
            <option value="{{Player[0]}}" selected>{{Player[1]}}</option>
            {% else: %}
            <option value="{{Player[0]}}">{{Player[1]}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
</div>

<div class="field">
    <label for="MatchID" class="label">Select MatchID</label>
    <div class="select">
        <select  value="{{MatchID}}" name="MatchID">
            {% for Fixtures in cursor[2] %}
            {% if Fixtures[0] == cursor[0][0][2]: %}
            <option value="{{Fixtures[0]}}" selected>{{Fixtures[0]}}</option>
            {% else: %}
            <option value="{{Fixtures[0]}}">{{Fixtures[0]}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
</div>

<div class="field">
  <label for="TeamID" class="label">Minute</label>
  <div class="control">
      {% for row in cursor[0] %}
    <input required="required" class="input" type="number" placeholder="e.g. 87"  value="{{row[3]}}" name="Minute" min="1" max="100">
  </div>
</div>

<div class="field is-grouped">
    <div class="control">
      <button class="button is-link" name="Update" value="{{row[0]}}">Submit</button>
    </div>
  </div>
{% endfor %}
</form>
{% endblock %}