{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('top_goal_page') }}">See Top Goals</a>
<a class="button is-dark" href="{{ url_for('top_assist_page') }}">See Top Assists</a>
<a class="button is-dark" href="{{ url_for('team_user_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_user_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_user_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('referee_user_page') }}">See All Referee</a> 
<a class="button is-dark" href="{{ url_for('stadium_user_page') }}">See All Stadiums</a> 
<a class="button is-dark" href="{{ url_for('standing_user_page') }}">See Standing Table</a>
<a class="button is-dark" href="{{ url_for('fixture_user_page') }}">See All Fixtures</a>
<h1 class="title">Players</h1>
<form action="" method="post" name="player_list">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
  <tr>
      <th>Player Name</th>
      <th>Player Age</th>
      <th>Player Position</th>
      <th>Player Nationalty</th>
      <th>Player Height</th>
      <th>PlaceOfBirth</th>
      <th>Team</th>
    </tr>
  {% for row in cursor %}
  <tr>
      <td><a href="{{ url_for('player_user_page')}}/{{row[0]}}">{{row[1]}}</td></a>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
      <td>{{row[6]}}</td>
      <td><a href="{{ url_for('team_user_page')}}/{{row[8]}}">{{row[7]}}</td></a>

    </td>
    </tr>
    {% endfor %}  
  </table>
</form>



{% endblock %}

