{% extends "layout.html" %}
{% block title %}Details{% endblock %}
{% block content %}
<a class="button is-dark" href="{{ url_for('top_goal_page') }}">See Top Goals</a>
<a class="button is-dark" href="{{ url_for('top_assist_page') }}">See Top Assists</a>
<a class="button is-dark" href="{{ url_for('team_user_page') }}">See All Teams</a>
<a class="button is-dark" href="{{ url_for('player_user_page') }}">See All Players</a>
<a class="button is-dark" href="{{ url_for('manager_user_page') }}">See All Managers</a>
<a class="button is-dark" href="{{ url_for('referee_user_page') }}">See All Referee</a> 
<a class="button is-dark" href="{{ url_for('stadium_user_page') }}">See All Stadiums</a> 
<a class="button is-dark" href="{{ url_for('standing_user_page') }}">See Standing Table</a>
<a class="button is-dark" href="{{ url_for('fixture_user_page') }}">See All Fixtures</a>
<h1 class="title">Details</h1>
<form action="" method="post" name="detail_list">

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
        <tr>
              
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Home Score</th>
            <th>Away Score</th>
            <th>Week</th>
            <th>MatchDate</th>
            <th>Time </th>
            <th>Referee </th>
            <th>Status </th>
    
            
          </tr>
          {% for row in cursor[1] %}
        
              <td><a href="{{ url_for('team_user_page')}}/{{row[10]}}">{{row[1]}}</td></a>
              <td><a href="{{ url_for('team_user_page')}}/{{row[11]}}">{{row[2]}}</td></a>
              <td>{{row[6]}}</td>
              <td>{{row[7]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td><a href="{{ url_for('referees_user_page')}}/{{row[12]}}">{{row[9]}}</td></a>
              {%if row[8]=='NOTSTARTED' %}
              <td style="color:green; font-weight: bold;">{{row[8]}}</td>
              {%endif%}
              {%if row[8] =='LIVE' %}
              <td style="color:red; font-weight: bold;">LIVE</td>
              {%endif%}
              {%if row[8] =='FINISHED' %}
              <td style="color:black; font-weight: bold;">{{row[8]}}</td>
              {%endif%}
              
              
        </tr>
        {% endfor %}
    </table>

  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%" >
 <tr>
    <th>Details</th>
    <th>Minute</th>
  </tr>
{% for row in cursor[0] %}
<tr>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
  </td>
  </tr>

{% endfor %}
</table>
<h2 class="title">Goals</h2>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
    <tr>

       <th>Player</th>
       <th>Player's Team</th>
       <th>Minute</th>
     </tr>
   {% for row in cursor[2] %}
   <tr>

       <td><a href="{{ url_for('player_user_page')}}/{{row[6]}}">{{row[1]}}</td></a>
       <td><a href="{{ url_for('team_user_page')}}/{{row[7]}}">{{row[2]}}</td></a>
       <td>{{row[3]}}</td>
     </tr>
   
   {% endfor %}
   </table>
   
<h2 class="title">Assists</h2>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
    <tr>
        <th>Player Name</th>
        <th>Player's Team</th>
        <th>Minute</th>
        <th>Last Touch</th>
        <th>Format</th>
        <th>Golden Assist</th>
        <th>Stadium(Home/Away))</th>
        
      </tr>
      {% for row in cursor[3] %}
      <tr>
            
          <td><a href="{{ url_for('player_user_page')}}/{{row[8]}}">{{row[1]}}</td></a>
          <td><a href="{{ url_for('team_user_page')}}/{{row[9]}}">{{row[2]}}</td></a>
          <td>{{row[3]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
    </tr>
    {% endfor %}
</table>
<h2 class="title">Statistics</h2>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
    <tr>
        
        <th>Home Possesion</th>
        <th>Home Corner</th>
        <th>Home Foul</th>
        <th>Home Offside</th>
        <th>Home Shot</th>
        <th>Home ShotOnTarget</th>
        <th>Home ShotAccuracy</th>
        <th>Home PassAccuracy</th>
        <th>Away Possesion</th>
        <th>Away Corner</th>
        <th>Away Foul</th>
        <th>Away Offside</th>
        <th>Awat Shot</th>
        <th>Away ShotOnTarget</th>
        <th>Away ShotAccuracy</th>
        <th>Away PassAccuracy</th>
        <th>Referee</th>
        
      </tr>
      {% for row in cursor[4] %}
      <tr>
          
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
          <td>{{row[9]}}</td>
          <td>{{row[10]}}</td>
          <td>{{row[11]}}</td>
          <td>{{row[12]}}</td>
          <td>{{row[13]}}</td>
          <td>{{row[14]}}</td>
          <td>{{row[15]}}</td>
          <td>{{row[16]}}</td>
          <td>{{row[17]}}</td>
          <td><a href="{{ url_for('referees_user_page')}}/{{row[19]}}">{{row[18]}}</td></a>
          
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
